html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  position: relative;
  height: 100%;
  color: white;
  font-family: sans-serif;
  font-weight: 50;
  margin: 0;
  background-repeat: no-repeat;
}

main {
  background-color: #283e50;
  width: 400px;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 100px auto;
  border-radius: 5px 5px 0 0;
}

h1 {
  font-family: 'Lobster';
  font-size: 50px;
  font-weight: 500;
}

ol {
  text-align: center;
  margin: 2rem;
}

li {
  text-align: left;
  width: 100%;
}

img {
  width: 100%;
  margin: 0;
}

.uvodniObr {
  border-radius: 5px 5px 0 0;
}

p {
  padding: 0 10px 30px 10px;
  margin: 0;
  line-height: 25px;
}

.tlacitka {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.pravidla,
.uvodni {
  background-color: #1fcca4;
  border-bottom: 1px solid black;
  padding: 10px;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.pravidla:hover,
.uvodni:hover {
  background-color: #1cbb96;
}

.zacit {
  background-color: #0197f6;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.zacit:hover {
  background-color: #0090e9;
}

.circle,
.cross {
  width: 1rem;
  filter: invert(100%);
}

figcaption {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-style: italic;
  font-weight: 50;
}

div.pravidla1,
div.pravidla2,
div.pravidla3,
div.pravidla4,
div.pravidla5,
div.pravidla6 {
  width: 100%;
  display: block;
  padding: 1rem;
}

figure {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1000px) {
  main {
    width: 800px;
  }
  div.pravidla1,
  div.pravidla2,
  div.pravidla3,
  div.pravidla4,
  div.pravidla5,
  div.pravidla6 {
  flex-basis: 50%;
}