html {
  box-sizing: border-box;
  min-height: 100%;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  position: relative;
  height: 100%;
  color: white;
  font-family: sans-serif;
  font-weight: 80;
  margin: 0;
  background-repeat: no-repeat;
}

.uvodPravidla {
  background-color: #283e50;
  width: 400px;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 100px auto;
  border-radius: 5px 5px 0 0;
}

/*-----------------------Hra----------------------*/

.kartaHra {
  max-width: 80vmin;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 60px;
  
}

.playBtn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: black solid 1px;
  background-color: hsla(292, 32%, 86%, 0.541);
}

.playBtn__btn {
  padding: 0;
  margin: 0;
  width: calc(100% / 10);
  height: 8vmin;
  background-color: transparent;
  border: black solid 1px;
}

.playBtn__btn:hover,
.playBtn__btnfocus {
  background-color: hsla(315, 70%, 91%, 0.685);
}

.kontejner {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  
}
.hraje {
  font-size: 20px;
  padding: 0;
  margin-top: 12px;
  font-weight: 600;
}

img.home,
img.restart {
  width: 40px;
  border-radius: 5px
}

img.home {
  background-color:  #1fcca4;
  padding: 10px;
  margin-right: 5px;
}

img.restart {
  background-color: #0197f6;
  padding: 10px;
}

.home:hover,
.home:focus {
  background-color: #1cbb96;
}

.restart:hover,
.restart:focus {
  background-color: #0090e9;
}

.playBtn__btn--circle,
.playBtn__btn--cross {
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  animation-name: gradual-growth;
  animation-duration: 0.15s;
}

.playBtn__btn--circle {
  background-image: url('img/circle.svg');
}

.playBtn__btn--cross {
  background-image: url('img/cross.svg');
}

@keyframes gradual-growth {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 65%;
  }
}


/*-----------------------Pravidla-----------------------*/
h1 {
  font-family: 'Lobster';
  font-size: 50px;
  font-weight: 500;
}

ol {
  text-align: center;
  margin: 2rem;
}

li {
  text-align: left;
  width: 100%;
}
img {
  width: 100%;
  margin: 0;
}


figcaption {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-style: italic;
  font-weight: 50;
}

div.pravidla1,
div.pravidla2,
div.pravidla3,
div.pravidla4,
div.pravidla5,
div.pravidla6 {
  width: 100%;
  display: block;
  padding: 1rem;
}

figure {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

/*-----------------------Úvod----------------------*/

img.uvodniObr {
  width: 100%;
  margin: 0;
}

.uvodniObr {
  border-radius: 5px 5px 0 0;
}

p {
  padding: 0 10px 30px 10px;
  margin: 0;
  line-height: 25px;
}

.tlacitka {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.pravidla,
.uvodni {
  background-color: #1fcca4;
  border-bottom: 1px solid black;
  padding: 10px;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.pravidla:hover,
.uvodni:hover,
.pravidla:focus,
.uvodni:focus {
  background-color: #1cbb96;
}

.zacit {
  background-color: #0197f6;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.zacit:hover,
.zacit:focus {
  background-color: #0090e9;
}

.hraje-hrac,
.circle,
.cross {
  width: 1rem;
  filter: invert(100%);
}

/*------------------Responzivní design-------------------*/

@media (min-width: 1000px) {
  main.uvodPravidla {
    width: 800px;
  }
  div.pravidla1,
  div.pravidla2,
  div.pravidla3,
  div.pravidla4,
  div.pravidla5,
  div.pravidla6 {
  flex-basis: 50%;
}
.